body{
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}

.section1{
    background-color: violet;
    width: 100px;
    height: 150px;
    border: 1px solid black;
    margin-left: 31%;
    margin-top: 6%;
    float: left;
}

.section2{
    background-color: rgb(124, 98, 40);
    width: 100px;
    height: 150px;
    border: 1px solid black;
    margin-left: 2px;
    margin-top: 6%;
    float: left;
}


.section3{
    background-color: rgb(140, 151, 40);
    width: 100px;
    height: 150px;
    border: 1px solid black;
    margin-left: 2px;
    margin-top: 6%;
    float: left;
}


.section4{
    background-color: rgb(47, 128, 74);
    width: 100px;
    height: 150px;
    border: 1px solid black;
    margin-left: 2px;
    margin-top: 6%;
    float: left;
}

.section5{
    background-color: rgb(46, 108, 133);
    width: 100px;
    height: 150px;
    border: 1px solid black;
    margin-left: 2px;
    margin-top: 6%;
    float: left;
}

